<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.WebsiteViecLamConnectionString"
            connectionString="Data Source=KIENLE\KIENLE;Initial Catalog=WebsiteViecLam;User ID=sa;Password=123456789"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>